@tailwind base;
@tailwind components;
@tailwind utilities;

/* or regular global rules if not using Tailwind:
html, body { height: 100%; margin: 0; }
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; }
*/